@import "bootstrap-sprockets";
@import "bootstrap";
$title-green: #487429;
$body-green: #E6F6DA;
.manager-container {
	margin-top: 10px;
	
	.panel-heading { 
		background-color: $title-green; 
		color: white !important;
		span {
			font-weight: bold;


		}
	}
	.panel-body {
		background-color: $body-green;
	}
}
