
.link {
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

.pages_container {
	padding: 10px 40px 10px 10px;
}

.pageItem {
	padding-bottom: 100px;
}

.form-group {
	width: 40%;
}
